.video{
	margin: 0px auto;
	max-width: 560px;
}
.personaje .media-right a{
	display: inline-block;
}
.personaje .media-right{
	width: 50%;
}
footer .container-fluid:before{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}